*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.back{
    background-image: url(../img/backimg.png);
    width: 1098px;
    height: 748.22px;
    padding: 170px 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;

}
img{
    
    width: 376px;
    height: 578.22px;
    margin-left: 700px;
    margin-top: -360px;
    
}
.body{
    width: 560px;
    height: 578.22px;
    padding: 50px 0px 0px 40px;
    margin: -30px 0px 0px 104px;
    
}
nav{
    width: 1320px;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    position: fixed;
    padding-right: 20px;
    top: 0;
    
}
#navbar{
    width: 864.39px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 310px;
    padding-right: 20px;
}


nav a{
    
    color: #161c2D;
    font-family: sans-serif;
   margin-left: 40px;
    text-decoration: none;
    font-size: 13px;
   
}
nav a .fab{
    position: relative;
    text-decoration: none;
    font-size: small;
    color: blue;
    font-size: 16px;
   
}
.fa-twitter{
    margin-left: -20px;
    
}
.fa-facebook{
    margin-left: -30px;
}

.fa-youtube{
    margin-left: -40px;
}

.que{
    font-size: 22px;
    width: 71.61px;
    height: 33px;
    margin-left: 120px;
}

.looking{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid whitesmoke;
    border-radius: 50px;
    height: 44px;
    width: 222.64px;
    padding: 8px 15px;
    background-color: white;
    margin-top: 15%;
    margin-left: 10%;
    margin-bottom: 2%;
}
.looking p{
    margin-left: 10px;
    font-size: 15px;
}
.ho{
    background-color: #007BFF;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 10.5px;
    width: 31.78px;
    height: 17.84px;
    padding: 3.675px 6.825px;
    text-align: center;
    border-radius: 50px;
    
}
.danny h1{
    width: 536px;
    height: 136.78px;
    color: #161c2D;
    margin: 0px 0px 8px;
    font-family: sans-serif;
    font-size: 57px;

}
.danny p{
    padding: 15px;
    width: 536px;
    height: 52px;
    margin: 0px 0px 16px;
    font-size: 15px;
    font-family: sans-serif;
    color: #8492a6;
}
.butt{
    display: flex;
    width: 536px;
    height: 58px;
    margin: 24px 0px 0px;
    padding: 8px 0px 0px;

    
}
button{
     padding: 8px 34px;
    color:  #ffffff;
    background-color: #007BFF;
    border: 1px solid royalblue;
    border-radius: 10px;
    width: 130.7px;
    height: 42px;
    margin: 0px 8px 8px 0px;
}
.butt2{
   height: 42px;
   width: 197.77px;
   color: #007BFF;
   margin: 0px 0px 8px;
   padding: 8px 34px;
   font-family: sans-serif;
   font-size: 16px;
   background-color: #ffffff;
}